html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(-45deg, #111111, #000000, #090008);
    background-size: auto;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    color: white;
    user-select: none;
}
h1 {
    font-size: 7vh;
}
h2 {
    font-size: 3.5vh;
    height: 100%;
}
p {
    text-align: center;
    font-size: 2.4vh;
    font-weight: lighter;
    padding-top: 5vh;
    position: relative;
}
::-webkit-scrollbar {
    height: 1vh;
}
::-webkit-scrollbar-track {
    background: none; 
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 30vh;
}
::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7; 
}
#name {
    position: fixed;
    top: 75%;
    left: 25%;
    transform: translateX(-50%);
}
#leg {
    position: fixed;
    top: 78%;
    left: 55%;
    border-radius: 2vh;
    width: 90vh;
    height: 20%;
    background-color: #1f0030;
}
#leg-vertical-line {
    position: absolute;
    height: 20vh;
    padding: 2%;
    top: 17%;
    left: 32%;
    height: 10vh;
    border-left: 2px solid white;
}
#leg-title {
    position: absolute;
    left: 4%;
    top: 2%;
}
#leg-items {
    position: relative;
    top: 7%;
}
#leg p {
    text-align: left;
    margin: 0; 
    left: 37%;
    margin-top: -3%;
    font-size: 2.4vh;
    font-weight: lighter;
}
#leg-color-projetos-publicos {
    position: absolute;
    border-radius: 100%;
    border-style: solid;
    height: 2.5vh;
    width: 2.5vh;
    left: 60%;
    top: 26%;  
    background-color: #00091a;
}
#leg-color-freelances-publicos {
    position: absolute;
    border-radius: 100%;
    border-style: solid;
    height: 2.5vh;
    width: 2.5vh;
    left: 63%;
    top: 54%;  
    background-color: #002004;
}
#leg-color-freelances-privados {
    position: absolute;
    border-radius: 100%;
    border-style: solid;
    height: 2.5vh;
    width: 2.5vh;
    left: 63%;
    top: 82.5%;  
    background-color: #1d1200;
}
#user-avatar {
    margin-top: 4vh;
    margin-left: 2vh;
    width: 10vh;
    border-radius: 1.5vh;
    position: absolute;
    transition: 0.4s;
}
#repos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}
.repos-list {
    margin-left: 3%;
    text-align: center;
}
.post {
    border-radius: 2vh;
    width: 39vh;
    height: 64vh;
    padding-right: 1%;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-top: 8vh;
    margin-bottom: 2vh;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post:active {
    background-color: rgb(26, 1, 39);
}
.post a {
    color: inherit;
    text-decoration: none;
}
#repositorios-post {
    background-color: #000309;
}
#freelances-public-post {
    background-color: #000901;
}
#freelances-private-post {
    background-color: #090600;
}
#repositorios-img {
    margin-left: 1vh;
    margin-top: 2vh;
    width: 9vh;
}
#repositorios-link {
    position: relative;
    top: -4%;
    margin-left: 2vh;
    font-size: 4vh;
    color: rgb(255, 255, 255);
}
a:link {
    text-decoration: none;
}
#freelance-name {
    top: 4%;
    position: relative;
    padding-top: 1%;
    padding-right: 9%;
    font-size: 4vh;
    width: 100%;
    color: rgb(255, 255, 255);
}
#repositorios-descricao {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    white-space: pre-wrap;
    position: relative;
    left: 14%;
    width: 29vh;
}
#repositorios-obs {
    position: absolute;
    bottom: 30px;
    color: #000309;
    font-weight: bolder;
    width: 100%;
    left: -0.23%;
}
#repositorios-obs-public {
    position: absolute;
    bottom: 30px;
    color: #000901;
    font-weight: bolder;
    width: 100%;
    left: -0.23%;
}
#repositorios-data {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: lighter;
}

@media (min-width: 1000px) {
    #repositorios-post:hover {
        background-color: #1f0030;
        width: 50vh;
        text-wrap: wrap;
        padding-left: 2%;
    }
    #freelances-public-post:hover {
        background-color: #1f0030;
        width: 50vh;
        text-wrap: wrap;
        padding-left: 2%;
    }
    #freelances-private-post:hover {
        background-color: #1f0030;
        width: 50vh;
        text-wrap: wrap;
        padding-left: 2%;
    }
    #user-avatar:hover {
        width: 15vh;
        position: relative;
    }
}
@media (max-width: 1000px) {
    html, body {
        background-color: rgb(14, 0, 11);
    }
    p {
        font-size: 2vh;
    }
    #name {
        position: absolute;
        top: 4%;
        left: 17vh;
        transform: none;
        font-size: 4vh;
    }
    .post {
        height: 50vh;
    }
    .repos-list {
        margin-top: 8vh;
    }
    #repositorios-post {
        position: relative;
        width: 24vh;
        height: 40vh;
        background-color: #000309;
    }
    #freelances-public-post {
        position: relative;
        width: 24vh;
        height: 40vh;
        background-color: #000901;
    }
    #freelances-private-post {
        position: relative;
        width: 24vh;
        height: 40vh;
        background-color: #090600;
    }
    #repositorios-img {
        width: 5.5vh;
    }
    #repositorios-link {
        font-size: 2vh;
        font-weight: bolder;
    }
    #freelance-name {
        top: 4vh;
        font-size: 2vh;
        margin-left: 19%;
        font-weight: bolder;
    }
    #repositorios-descricao {
        position: relative;
        width: 20vh;
        height: 20vh;
        top: -14%;
        left: 8%;
    }
    #repositorios-obs {
        color: rgb(255, 255, 255);
        position: absolute;
        font-weight: lighter;
        bottom: 4vh;
        left: 50%;
        transform: translateX(-50%);
    }
    #repositorios-obs-public {
        color: rgb(255, 255, 255);
        font-weight: lighter;
        bottom: 4vh;    
    }
    #leg {
        top: 67%;
        left: 2%;
        width: 95%;
        height: 28%;
    }
    #leg-vertical-line {
        border-left: none;
    }
    #leg-items {
        top: 6vh;
        left: -12vh;
    }
    #leg-color-projetos-publicos {
        top: 5vh;
        left: 40vh;
        right: auto;
    }
    #leg-color-freelances-publicos {
        top: 11.5vh;
        left: 42.5vh;
        right: auto;
    }
    #leg-color-freelances-privados {
        top: 18vh;
        left: 42.5vh;
        right: auto;
    }
}
